## General
config_path: config
runbook_path: config/runbooks
plugin_path: plugins/
ssh: # SSH Configuration
  user: root
  gateway: False
  key: |
        -----BEGIN RSA PRIVATE KEY-----
        fdlkfjasldjfsaldkjflkasjflkjaflsdlkfjs
        -----END RSA PRIVATE KEY-----

monitoring: # Monitoring configuration
  upload_path: /tmp

actioning: # Actioning configuration
  upload_path: /tmp

logging: # Logging Configurations
  debug: True
  plugins:
    console: True
    syslog:
      facility: local0

discovery: # Discovery Configurations
  upload_path: /tmp/
  vetting_interval: 30
  plugins:
    webping: # Web Service for HTTP GET or POST requests
      ip: 0.0.0.0
      port: 20000
#    nmap: # NMAP Scanning for new hosts
#      target: 10.0.0.1/8
#      flags: -sP
#      interval: 40
#    digitalocean: # Query DO's API
#      url: https://api.digitalocean.com/v2
#      api_key: example
#      interval: 60
#    aws: # Query AWS' API
#      aws_access_key_id: example
#      aws_secret_access_key: example
#      interval: 60
#      filter:
#        - PublicIpAddress
#        - PrivateIpAddress
#    linode:
#      url: https://api.linode.com
#      api_key: example
#      interval: 60


datastore: # Datastore Configurations
## Default Datastore Engine
  engine: redis
  ## Datastore Specific configuration
  plugins:
    ## Redis
    redis:
      db: 0
      host: redis
      port: 6379
