## General
config_path: config
runbook_path: config/runbooks
plugin_path: plugins/
ssh:
  user: root
  gateway: False
  key: |
        -----BEGIN RSA PRIVATE KEY-----
        fdlkfjasldjfsaldkjflkasjflkjaflsdlkfjs
        -----END RSA PRIVATE KEY-----

## Checks
monitoring:
  upload_path: /tmp

## Actions
actioning:
  upload_path: /tmp

## Logging
logging:
  debug: True
  plugins:
    console: True
    syslog:
      facility: local0

## Host Discovery
discovery:
  upload_path: /tmp/
  vetting_interval: 30
  plugins:
    # Web Service for HTTP PINGs
    webping:
      ip: 0.0.0.0
      port: 9000
#    roster:
#      hosts:
#        - 10.0.0.1

## Datastore
datastore:
  ## Default Datastore Engine
  engine: redis
  ## Datastore Specific configuration
  plugins:
    # Redis
    redis:
      db: 0
      host: redis
      port: 6379

## Web UI & API
web:
  listen: 0.0.0.0
  port: 8000
  # Bootswatch theme - https://bootswatch.com/
  theme: slate
